<style>
    @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Courgette&display=swap');
    </style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fonte text-center mt-3">Meu planner </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="texto text-center mt-2">Esse site foi criado para registrar o meu dia-a-dia, feitos e a minha agenda</p>
        </div>
    </div>
</div>
<!--Fomulario-->

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card border-0" style="width: 18rem;">
                <input type="text" class="form-control mb-3 w-100 texto02" placeholder="Pesquisar por data ou titulo">
                <button class="btn btn-outline-primary fonte">Pesquisar</button>
                 
                <h3 class="fonte mt-2">Criar uma postagem</h3>
                <input type="date" class="form-control mb-3 w-100 texto02" placeholder="Data">
                <input type="text" class="form-control mb-3 w-100 texto02" placeholder="Titulo"> 
                <textarea name="texto" id="texto" cols="30" rows="4" class="form-control texto02" placeholder="Escreva o seu texto"></textarea>
                 <input type="file" class="form-control-file texto02 mt-3 mb-3 w-100 texto02" placeholder="Fotos">
                 <button class="btn btn-outline-primary fonte">criar</button>
              </div>
        </div>
        <div class="col-md-8">
            <div class="card border-0">
                <h3 class="fonte01 text-center mt-2 text-monospace" >Minhas postagens</h3>
              </div>
        </div>

    </div>
   
