.fonte{
    font-family: 'Courgette', cursive; 
}
.texto{
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
}
.texto02{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}
.fonte01{
    font-family: 'Courgette', cursive;
    font-size: 30px; 
}
